{% extends 'condottieri_profiles/base.html' %}

{% load i18n %}
{% load avatar_tags %}
{# stars defined in machiavelli app #}
{% load condottieri_profiles_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block body %}
<div class="section">
<h1>{% trans "Profile for" %} {{ profile.user.username }}
{% if is_friend %}
<img src="{{ STATIC_URL }}/condottieri_profiles/img/heart-red.png" />
{% endif %}
</h1>
<div id="profile_avatar">
{% avatar profile.user %}<br/>
{% if is_own %}
<a href="{% url avatar_change %}">{% trans "Change avatar" %}</a>
{% endif %}
</div>

<div id="profile_table">
<table>
{% if profile.name %}
<tr>
<th>{% trans "Name" %}:</th>
<td>{{ profile.name }}</td>
</tr>
{% endif %}
{% if 1 %}
<tr>
<th>{% trans "Awards" %}:</th>
<td>
{% for b in profile.badges.all %}
	<img src="{{ b.image.url }}" title="{{ b.description }}"/>
{% endfor %}
</td>
</tr>
{% endif %}
{% if profile.about %}
<tr>
<th>{% trans "About" %}:</th>
<td>{{ profile.about }}</td>
</tr>
{% endif %}
{% if profile.location %}
<tr>
<th>{% trans "Location" %}:</th>
<td>{{ profile.location }}</td>
</tr>
{% endif %}
<tr>
<th>{% trans "Known languages" %}:
{% if is_own %} (<a href="{% url profile_languages_edit %}">{% trans "Edit" %}</a>){% endif %}</th>
<td>{{ profile.spokenlanguage_set.all|join:", " }}</td>
</tr>
{% if profile.website %}
<tr>
<th>{% trans "Website" %}:</th>
<td><a href="{{ profile.website }}">{{ profile.website }}</a></td>
</tr>
{% endif %}
<tr>
<th>{% trans "Karma" %}:</th>
<td>{{ profile.karma|karma_stars }}
	{% if is_own %}
	({{ profile.karma }})
	{% endif %}
</td>
</tr>
<tr>
<th>{% trans "Total score" %}:</th>
<td>{{ profile.total_score|score_stars }} ({{ profile.total_score }}
<a href="{% url ranking "user" profile.user.username %}">{% trans "Detail" %}</a>)
</td>
</tr>
<tr>
<th>{% trans "Average points per game" %}:</th>
<td>{{ profile.average_score }}</td>
</tr>
<tr>
<th>{% trans "Ranking score" %}:</th>
<td>{{ profile.weighted_score }}</td>
</tr>
<tr>
<th>{% trans "Times overthrown" %}:</th>
<td>{{ profile.overthrows }}</td>
</tr>
<tr>
<th>{% trans "Times surrendered" %}:</th>
<td>{{ profile.surrenders }}</td>
</tr>
<tr>
	{% if not is_own %}
	<th>{% trans "Friendship" %}:</th>
	{% if is_friend %}
		<td>{% blocktrans with profile.user.username as user %}{{ user }} is your friend.{% endblocktrans %}
		(<a href="{% url change_friendship profile.user.username %}">{% trans "Unfriend" %}</a>)</td>
	{% else %}
		<td>{% blocktrans with profile.user.username as user %}{{ user }} is not your friend.{% endblocktrans %}
		(<a href="{% url change_friendship profile.user.username %}">{% trans "Befriend" %}</a>)</td>
	{% endif %}
	{% if am_friend %}
		<td>{% blocktrans with profile.user.username as user %}Your are a friend of {{ user }}.{% endblocktrans %}</td>
	{% endif %}
	{% endif %}
</tr>
</table>
</div>


{% if is_own %}
	<p><a href="{% url profile_edit %}">{% trans "Edit" %}</a></p>
{% endif %}

</div>

<div class="section">
<h2>{% trans "Friends" %}</h2>
<ul class="friend_list">
{% for f in friends %}
	<li><a href="{% url profile_detail f.friend_to.username %}">{% avatar f.friend_to 24 %} {{ f.friend_to }}</a></li>
{% endfor %}
</ul>
<div class="clearboth"></div>
</div>

<div class="section">
<h2>{% trans "Friend of" %}</h2>
<ul class="friend_list">
{% for f in chosen_by %}
	<li><a href="{% url profile_detail f.friend_from.username %}">{% avatar f.friend_from 24 %} {{ f.friend_from }}</a></li>
{% endfor %}
</ul>
<div class="clearboth"></div>
</div>

{% endblock %}
