{% extends 'condottieri_profiles/base.html' %}

{% load i18n %}
{% load avatar_tags %}
{# stars defined in machiavelli app #}
{% load condottieri_profiles_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block body %}
<h1>{% trans "Profile for" %} {{ profile.user.username }}</h1>
<div>
{% avatar profile.user %}<br/>
{% if is_own %}
<a href="{% url avatar_change %}">{% trans "Change avatar" %}</a>
{% endif %}
</div>

<h2>{% trans "User data" %}</h2>
<dl>
{% if profile.name %}
<dt>{% trans "Name" %}</dt>
<dd>{{ profile.name }}</dd>
{% endif %}
{% if profile.about %}
<dt>{% trans "About" %}</dt>
<dd>{{ profile.about }}</dd>
{% endif %}
{% if profile.location %}
<dt>{% trans "Location" %}</dt>
<dd>{{ profile.location }}</dd>
{% endif %}
<dt>{% trans "Known languages" %}
{% if is_own %} (<a href="{% url profile_languages_edit %}">{% trans "Edit" %}</a>){% endif %}</dt>
<dd>{{ profile.spokenlanguage_set.all|join:", " }}</dd>
{% if profile.website %}
<dt>{% trans "Website" %}</dt>
<dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>
{% endif %}
<dt>{% trans "Karma" %}</dt>
<dd>{{ profile.karma|karma_stars }}
	{% if is_own %}
	({{ profile.karma }})
	{% endif %}
</dd>
<dt>{% trans "Total score" %}</dt>
<dd>{{ profile.total_score|score_stars }} ({{ profile.total_score }}
<a href="{% url ranking "user" profile.user.username %}">{% trans "Detail" %}</a>)
</dd>
<dt>{% trans "Average points per game" %}</dt>
<dd>{{ profile.average_score }}</dd>
<dt>{% trans "Ranking score" %}</dt>
<dd>{{ profile.weighted_score }}</dd>
<dt>{% trans "Times overthrown" %}</dt>
<dd>{{ profile.overthrows }}</dd>
</dl>

{% if is_own %}
	<p><a href="{% url profile_edit %}">{% trans "Edit" %}</a>.</p>
{% else %}
	{% if is_friend %}
		<p>{% blocktrans with profile.user.username as user %}{{ user }} is your friend.{% endblocktrans %}
		(<a href="{% url change_friendship profile.user.username %}">{% trans "Unfriend" %}</a>)</p>
	{% else %}
		<p>{% blocktrans with profile.user.username as user %}{{ user }} is not your friend.{% endblocktrans %}
		(<a href="{% url change_friendship profile.user.username %}">{% trans "Befriend" %}</a>)</p>
	{% endif %}
	{% if am_friend %}
		<p>{% blocktrans with profile.user.username as user %}Your are a friend of {{ user }}.{% endblocktrans %}</p>
	{% endif %}
{% endif %}

<h2>{% trans "Friends" %}</h2>
<ul>
{% for f in friends %}
	<li><a href="{% url profile_detail f.friend_to.username %}">{{ f.friend_to }}</a></li>
{% endfor %}
</ul>


{% endblock %}
